.header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 276px;
    background: linear-gradient( #282623,#f7931a);
}

header img{
    width: 150px;
    height: 24px;
    margin: 30px 0;
}

.header--title-container{
    width: 90%;
    height: 218x;
    align-self: center;
    text-align: center;
}

.header--title-container h1{
    font-size: 2.64rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--soft-orange);
    margin: 24px 0;
}

.header--button{
    position: absolute;
    text-decoration: none;
    display: block;
    background-color: var(--off-white);
    padding: 15px;
    width: 230px;
    box-shadow: 0px 4px 8px var(--warm-black);
    bottom: -10%;
    left: calc(50% - 114.5px);
    color: var(--black);
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5px;
}

.header--button span{
    display: inline-block;
    background-image: url('../assets/icons/down-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 8px;
    margin-left: 5px;
}

/*Exchange section*/

.main--exchange-section{
    position: relative;
    margin-bottom: 65px;
}

.exchange-section--figure-title{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 24px;
}

.main--exchange-section h2{
    font-weight: 700;
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    padding: 15px 30px;
}

.main--exchange-section p{
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--warm-black);
    text-align: center;
    padding: 15px 30px;
}

.exchange-section--table-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.exchange-section--table-container table{
    display: inline-block;
}

.exchange-section--table-container table tr{
    text-align: justify;
}

#th-coin{
    padding: 10px 20px;
    font-size: 1.6rem;
    color: var(--bitcoin-orange);
    font-weight: 700;
}

.exchange-section--coin-table, td{
    padding: 10px 20px;
    font-size: 1.4rem;
    color: var(--grey);
    font-weight: bold;
}

.exchange-section--coin-table td span{
    color: var(--warm-black);
    font-weight: 400;
    margin-right: 10px;
}

.exchange-section--table-container p{
    padding: 0;
    color: var(--warm-black);
    display: inline-block;
    background-color: var(--soft-orange);
    padding: 5px 5px;
    border-radius: 5px;
}

.main--black-section{
    background-color: black;
    height: 500px;
}

.exchange-section--footer-logo{
    position: absolute;
    display: block;
    padding: 15px;
    bottom: -14%;
    left: calc(50% - 37.5px);
}

/*Benefit section*/

.benefit-section{
    background-color: var(--black);
    padding: 60px 0;
}

.benefit-section--title-container{
    text-align: center;
    padding: 15px 15px;
}

.benefit-section--title-container h2{
  text-align: center;  
  font-size: 2rem;
  font-weight: bold;
  color: var(--just-white);
}

.benefit-section--title-container p{
    font-size: 1.4rem;
    color: var(--grey);
    padding: 15px 0;
}

/*benefits*/

.benefit-section--benefits-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.benefit-content{
    margin: 5px 0;
    padding: 15px 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
}

.benefit-content img,h2,p{
    margin: 5px 0;
}

.benefit-content h2{
    font-size: 1.6rem;
    color: var(--just-white);
    font-weight: bold;
}

.benefit-content p{
    font-size: 1.4rem;
    color: var(--grey);
    font-weight: 500;
}

/*Meet section*/

.know-us-section{
    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    min-width: 320px;
}

.know-us-section h2{
    margin: 0;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 60px 0;
    text-align: center;
    color: var(--just-white);
}

/*Plans Section*/

.plans-section{
    padding: 30px 0;
}

.plans-section--plans-container{
   
}

.plans-section--title-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.plans-section--title-container h2{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--black);
    padding: 15px 0;
}

.plans-section--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--warm-black);
}

.plans-section--plans-container{
    display: flex;
    margin: 30px 0;
    width: 100%;
    height: 100%;
}

.plans-section--plans-container div{
    background-color: #efeeec;
    flex-grow: 1;
    border-radius: 10px;
}

.plans-section--plans-container .arrow-container{
    display: flex;
    align-items: center;
}

.plans-section--plans-container .plan-container{
    text-align: center;
    margin: 0 10px;
}

.plan-container .recommended{
    background-color: var(--bitcoin-orange);
    font-size: 1.6rem;
    padding: 10px 15px;
    font-weight: bold;
    color: var(--just-white);
    display: inline-block;
    border-radius: 15px;
    position: relative;
    top: -25px;
}

.plan h2{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--black);
}

.plan .price .price-number span{
    font-size:  3rem;
}

.plan-container .choice-plan-btn{
    margin: 20px 0;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
}

.plan-container .choice-plan-btn span{
    margin-right: 15px;
    font-size: 1.6rem;
    font-weight: bold;
}

/*Footer*/

.contact-section{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color: var(--bitcoin-orange);
    align-items: center;
}

.contact-section .contact-list-container, figure{
    padding: 0 30px;
}

.contact-section ul li{
    list-style: none;
    padding: 10px 0;
}

.contact-section ul li a{
    font-size: 1.4rem;
    color: var(--just-white);
    text-decoration: none;
}